<footer class="site-footer">
  <div class="container footer-inner">
    <p>tokemetry is self-hosted infrastructure. No usage data is sent to a hosted tokemetry service.</p>
    <nav class="footer-links" aria-label="Footer navigation">
      <a href="https://github.com/heffter/tokemetry">GitHub</a>
      <a href="/docs">Docs</a>
      <a href="/docs/security">Security</a>
      <a href="/brand">Brand assets</a>
      <a href="https://github.com/heffter/tokemetry/blob/master/LICENSE">License</a>
    </nav>
  </div>
</footer>
